@theme {
  --color-green: #1bda67;
  --color-green-ring: rgb(42, 208, 108);
}

:root {
  --font-sans: "Open Runde", system-ui, sans-serif;
  --font-mono:
    "JetBrains Mono", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;

  --ui-color-neutral-50: #fafafa;
  --ui-color-neutral-100: #f5f5f5;
  --ui-color-neutral-200: #e5e5e5;
  --ui-color-neutral-300: #d4d4d4;
  --ui-color-neutral-400: #a1a1a1;
  --ui-color-neutral-500: #737373;
  --ui-color-neutral-600: #525252;
  --ui-color-neutral-700: #404040;
  --ui-color-neutral-800: #262626;
  --ui-color-neutral-900: #171717;
  --ui-color-neutral-950: #0a0a0a;

  --tracking-normal: 0.25rem;
  --text-fit: 17px;

  --highlight-yellow: #fef2a8;
  --highlight-blue: #cfe6ff;
  --highlight-green: #cdeed9;
  --highlight-orange: #ffe2c5;
  --highlight-pink: #ffd8e8;
  --highlight-purple: #e6ddff;
}

.light {
  --ui-text: var(--ui-color-neutral-800);
  --ui-bg: white;
}

.dark {
  --ui-text: var(--ui-color-neutral-200);
  --ui-bg: var(--ui-color-neutral-900);
  --color-green: #188744;

  --highlight-yellow: #7a6520;
  --highlight-blue: #224865;
  --highlight-green: #214d3b;
  --highlight-orange: #634227;
  --highlight-pink: #5b2c47;
  --highlight-purple: #433460;
}

.text-clear {
  color: light-dark(var(--ui-color-neutral-800), var(--ui-color-neutral-50));
}

.highlight-option-yellow {
  color: light-dark(#8a6c0f, #c7ad58) !important;
}

.highlight-option-blue {
  color: light-dark(#2b5f87, #8db5d4) !important;
}

.highlight-option-green {
  color: light-dark(#2f6a4f, #8fc1a4) !important;
}

.highlight-option-orange {
  color: light-dark(#8a5a1f, #d3a470) !important;
}

.highlight-option-pink {
  color: light-dark(#915070, #d6a6bf) !important;
}

.highlight-option-purple {
  color: light-dark(#654d9a, #b8abd9) !important;
}
