.no-scrollbar {
  &::-webkit-scrollbar {
    display: none;
  }
}

.completion-suggestion {
  color: light-dark(var(--ui-color-neutral-400), var(--ui-color-neutral-500));
  opacity: 0.7;
  white-space: pre;
  pointer-events: none;
  user-select: none;
}

.mermaid-source--hidden {
  display: none;
}

.plantuml-source--hidden {
  display: none;
}

.spotify-source--hidden {
  display: none;
}

.youtube-source--hidden {
  display: none;
}

.twoslash-source--hidden {
  display: none;
}
